html{
    font-size: 18px;
}

table {
    width: 700px;
    border-collapse: collapse;
    border:4px solid black;
    margin:  0 auto;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 40px;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    width: 100px;
    max-width: 100px;
}

td {
    vertical-align: top;
    text-align: left;
}

body {
    background-image: url('海報.png'); /* 設置背景圖片 */
    background-size: cover; /* 使背景圖片覆蓋整個頁面 */
    background-repeat: no-repeat; /* 防止背景圖片重複 */
    background-attachment: fixed; /* 使背景圖片固定 */
    background-position: center; /* 使背景圖片居中 */
}
