html{
    font-size: 18px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    width: 700px;
    margin: 0 auto;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    width: 100px;
    max-width: 100px;
}

tr{
    height: auto;
}
